# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.js

# production
build/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# runtime newsletter storage (local dev only)
/data/newsletter-subscribers.json
